.nav__bar {
  background-color: rgb(26, 25, 25);
  color: white;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  padding: 10px;
}

.shopping-cart {
  width: 1.8rem;
  height: 1.8rem;
  background-color: blue;
  border-radius: 8px;
  padding: 5px;
  margin: 5px;
}

.shopping-cart:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}

body {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
  overflow-x: hidden;

}


img {
  width: 100%;
  height: 40%;
  object-fit: fill;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  background-color: white;
}

.card__container {
  display: flex;
  flex-direction: column;
  margin: 10px;
  border: 1px solid #e6e0e0;
  padding: 10px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}
.card__container span{
  margin-bottom: 5px;
  margin-left: 10px;
}
.card__container img {
  max-width: 100%;
  height: 80%;
}


.cart-button {
  width: 50%;
  height: 3rem;
  background-color: #007bff;
  color: white;
  margin: 10px;
  border: 2px;
  border-radius: 2px;
  cursor: pointer;
}

.cart-img {
  position: relative;
}

.cart-badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 3px 6px;
  border-radius: 50%;
  display: none;
}

.cart-badge.show {
  display: block;
}

.cart_conatiner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  background-color: white;
  border: 1px solid #e6e0e0;
  margin: 20px;
  box-shadow: seashell;

}

.cart_conatiner img{
   width: 50px;
   height: 50px;
}


.delete-button {
  background-color: #ff4d4d; /* Red color */
  border: none;
  border-radius: 5px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.3s ease;
}

.delete-button:hover {
  background-color: #e60000; /* Darker red on hover */
}

.delete-button svg {
  stroke: white; /* White icon */
}

.filter{
  display: flex;
  flex-direction: column;
  background-color: rgb(52, 58, 64);
  width: 15vw;
  height: 80vh;
  color: rgb(255, 255, 255);
  padding: 10px;
  margin: 10px;
}


.radio{
  display: flex;
}

.main-container{
  display: flex;
}